---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.vue';
---

<Layout
    title="404"
>		
    <section id="hero" class="relative w-full text-white bg-linear-to-br from-slate-600 to-slate-900 pt-10 md:pt-30 p-6">  
        <div class="mx-auto max-w-7xl md:min-h-0 relative z-1 text-center pt-20 pb-40 text-xl">

            <h1 class="text-7xl xl:text-9xl font-extrabold text-center mt-15 mb-10">
               404
            </h1>
            <p>Halaman tidak ditemukan</p>
            <a href="/" class="mt-10 text-base inline-block bg-teal-600 hover:bg-teal-800 px-6 py-3 rounded-2xl">Kembali ke Halaman Utama</a>


    </section>
</Layout>
