---
import Layout from '../layouts/Layout.astro';
import PageHero from '../components/PageHero.vue';
import PageContent from '../components/PageContent.vue';
---

<Layout
    title="Pembayaran"
>	
	<div id="container">
		<main>	
            <PageHero title="Pembayaran" client:load />

            <PageContent class="min-h-[30vh]">
                
                <div class="text-center py-5">
                    BCA <br>
                    No. Rek: 0301545796 <br>
                    Atas Nama: CV. VELOCITY DEVELOPER INDONESIA
                </div>
                
            </PageContent>

        </main>	          
    </div>
</Layout>